@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");

body {
  background: #2a0142;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./Images/bk9.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
}
#gameCanvas {
  border: 2px solid #faf2f4;
  background: #222;
  display: block;
  margin: 0 auto;
}

canvas {
  background: #fff;
  border: 3px solid #ff4081;
  border-radius: 10px;
}
.levelSelect {
  text-align: center;
  color: #ffecf2;
  font-family: sans-serif;
}
h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
  text-shadow: 0 0 15px #b366ff;
}

.levels-grid {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 40px;
  justify-content: center;
}

.level-button {
  background: #ff3e6c;
  border: 4px solid #ff93a6;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-button:hover {
  background: #ff668b;
  border-color: #ffc0cb;
  transform: scale(1.05);
  box-shadow: 0 0 20px #80ccff;
}

#btnBack,
#algorithmSelect,
#btnLoadSolution,
#btnPrev,
#btnNext {
  background: #ff3e6c;
  border: 3px solid #ff93a6;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
#btnBack:hover,
#algorithmSelect:hover,
#btnLoadSolution:hover,
#btnPrev:hover,
#btnNext:hover {
  background: #ff668b;
  border-color: #ffc0cb;
  transform: scale(1.05);
  box-shadow: 0 0 12px #ff93a6;
}
.control-panel {
  margin: 50px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
